@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    --font-family: "Montserrat", sans-serif;
    --bg-color: #3468C0;
    --primary-color: #FF9843;
}

html {
    font-family: var(--font-family);
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 2rem;
    margin-top: 1rem;
}

.mensagem {
    font: 1.5rem;
    margin-top: 2rem;
}

.box {
    border: 2px solid white;
    display: inline-block;
    font-size: 4rem;
    padding: 10px;
    margin: 20px;
}

.btn-jogar {
    padding: 12px 20px;
    border: 0;
    background: var(--primary-color);
    border-radius: 50px;
    margin-top: 20px;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}