@import url("header.css");

/* Videos */

.Container__video {
    padding: 50px 20px;
}

.video__item {
    width: 288px;
}

.descricao-video {
    margin-top: 1rem;
    display: grid;
    text-align: start;
    column-gap: 1rem;
    row-gap: 10px;
    grid-template-columns: auto 1fr;
}

.descricao-video img {
    width: 2em;
    height: 2em;
    border-radius: 100%;
}

@media (min-width: 850px) {
    .Container__video {
        padding: 50px 10%;
    }
}