header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center {
    justify-content: center;
}

.barra__inferior_mobile{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__pesquisar_botao {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Videos */

.Container__video {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    z-index: 1;
}

.video__item {
    flex-grow: 1;
    height: 303px;
}

.descricao-video img {
    grid-area: 1 / 1 / 3 / 2;
}

.descricao-video h3 {
    grid-area: 1 / 2 / 2 / 3;
    font-weight: 700;
    color: #444444;
}

.descricao-video p {
    grid-area: 2 / 2 / 3 / 3;
    font-size: 14px;
    color: #444444;
}

@media (min-width:650px) {

    .center {
        justify-content: space-between;
    }

    .video__item {
        height: 288px;
    }

}