/* CABEÇALHO */

header {
    display: flex;
    justify-content: center;
}

/* ANUNCIO DOS LIVROS */

.livro, .livros {
    display: flex;
    align-items: center;
}

.livros {
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.livro {
    flex-direction: column;
    align-items: center;
}

.tags {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* BANNER */

.wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: .5rem;
}

@media (min-width: 780px){

    .livros {
        justify-content: space-between;
    }

    .wrap{
        flex-wrap: nowrap;
    }

}