@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,400&display=swap');

*,
*::after,
*::before{
    --bg-color: #ffffff;
    --button-color: #326589;
    --bg-color: #ffffff;
    --button-color: #326589;
    --text-title-color: #001e35;
    --text-description-color: #fc6621;
    --text-price-color: #002f52;
    --text-author-color: #858585;
    --text-tag-color: #9c9c9c;
}

body {
    font-family: 'Poppins';
    background-color: var(--bg-color);
}

/* CABEÇALHO */

header {
    width: 100%;
    padding: .5rem 0;
}

.Logo-Alura::before {
    content : url("../Imagem/Logo-1.png");
}

/* BANNER */

.container__banner {
    background-image: url('../Imagem/Banner-1.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    width: 100%;
}

nav, .livros {
    margin: 1rem auto;
    width: 100%;
}

.btn {
    padding: 1rem;
    border-radius: 50px;
    background-color: var(--button-color);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.267);

    color: var(--bg-color);
    font-size: .8rem;
    cursor: pointer;
}

.active,.btn:hover,.btn:active {
    background-color: #00233C;
}

/* ANUNCIO DOS LIVROS */

.livro_indisponivel {
    opacity: .5 ;
}

.livro {
    width: 305px;
    margin-bottom: 1rem;
}

.tags {
    width: 100%;
    margin: 5px 0;
}

.tag {
    padding: .5rem;
    background-color: var(--text-tag-color);
    border-radius: 20px;

    color: var(--bg-color);
    font-weight: 400;
    opacity: .8;
}

.livro__titulo {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    line-height: 24px;
    color: var(--text-title-color);

    margin-top: 1rem;
}

.livro__descricao {
    text-align: center;
    font: 1.1rem;
    color: var(--text-author-color);
    margin: 1rem 0;
    width: 100%;
}

.livro__preco {
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--text-price-color);
}

.livro__desconto {
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--text-price-color);
    text-decoration: none;
    width: 100%;
    margin: .8rem 0;
}

.desconto {
    text-decoration: line-through;
    color: var(--text-description-color);
    font-weight: 500;
    font-size: 1.2rem;
    display: inline-block;
}

.livro__desconto__quantidade {
    border-radius: 15px;
    padding: 5px;
    background-color: var(--text-description-color);
    color: var(--bg-color);
    display: inline;

    font-size: .8rem;
    text-align: center;
}


/* TODOS OS LIVROS DISPONIVEIS */

.livros_disponiveis {
    width: 100%;
    height: 80px;
    background-color: var(--text-description-color);
    margin-top: 1rem;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.livros_disponiveis p {
    color: var(--bg-color);
    font-weight: 500;
    line-height: 1.5rem;
    font-size: 1.5rem;
}

/* RODAPE */

.rodape {
    width: 100%;
    height: 100px;
    background: linear-gradient(96.48deg, #002f52 36.3%, #326589 99.56%);
    margin-top: 1rem;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.rodape p {
    color: var(--bg-color);
    font-weight: 500;
    line-height: 1.5rem;
}

@media (min-width: 780px){
    .container__banner {
        height: 273px;
        background-size: auto;
    }

    .container__banner::after{
        content: '';
        position: absolute;
        top: 59px;
        left: 0;
        right: 0;
        bottom: 0;
        height: 273px;
        width: 100%;
        z-index: -5;
        background-image: linear-gradient(to right,#00233C,#0F324D);
    }

    nav, .livros {
        width: 80%;
    }
    
}

@media (min-width: 1100px){
    nav, .livros {
        width: 80%;
    }

    .livros_disponiveis p {
        font-size: 2.5rem;
    }
}